<footer>
    <div class="footer-text">
        CONTACTS :
    </div>
    <div class="footer-text">
        email : souvenirs@shop.hr
    </div>
    <div class="footer-text">
        tel : 049-999-999
    </div>
</footer>